@{
    ViewBag.Title = "About";
}



<h3>ΠΡΟΛΟΓΟΣ</h3>

<p> 'Ο,τι δεν υπάρχει στην εργασία, δεν εχω προλάβει να το κατανοησω ακόμα. Ο,τι υπάρχει, το μελέτησα αρκετά ως προς τους μηχανισμούς.</p>


<p> ‘Oπου υπαρχει η οντότητα Course  γράφτηκε χειρόγραφα και οι υπόλοιπες γίναν copy-paste με βάση την πρώτη και τις σημειώσεις μας.</p>

<p> Σχόλια σε Regions κάτω-κάτω είναι δοκιμές τις οποίες θα ήθελα να συνεχίσω, αλλά δεν έχουν χρήσιμη πληροφορία για σας.</p>

<p>To subject, όπως θα φανει και στις σχέσεις που ακολοθούν, ειναι η βασική οντότητα ανάμεσα σε course-teacher-assignments.</p>
<p>
    Στην παρούσα εργασία ο προγραμματισμός ξεκίνησε με στόχο να ενταχθούν όλες οι δυνατότητες σχέσεων που μάθαμε.
    Ωστόσο η σχέση 1-1 , αντικαταστάθηκε με 1-m. Γι' αυτό το λόγο τα assignments παρέμειναν 1 για κάθε μάθημα,
    παρόλο που είναι IEnumerable.

</p>

<hr />

<h3>ΠΑΡΑΔΟΧΕΣ</h3>

<p>
    <div>
        Οι μαθητές διαλέγουν Courses, που έχουν subjects, που έχουν assignments, που παίρνουν marks, που επιστρέφουν στο μαθητή.
        ('Η, κοινώς, Ντιλι-ντιλι-το καντήλι!)
    </div>
    <hr />
    <h4> Αναλυτικα:</h4>


    <div>
        O Student έχει πολλά courses.
    </div>
    <div>To Course έχει πολλόυς students.</div>

    <div>To Course έχει πολλά subjectes.</div>

    <div> Τo Subject έχει 1 course.</div>

    <div> Τo Subject έχει πολλους Teachers.</div>
    <div>
        Ο Teacher έχει πολλά subjects.
    </div>

    <div> Το Subject έχει πολλές Assignments. (αν και εβαλα μία μόνο για το καθένα)</div>

    <div>To Assignment έχει 1 subject.</div>

    <div> Το Assignment έχει πολλους Marks. (Ο πίνακας mark λειτουργει ως ενδιαμεσος αναμεσα σε student και  assignment, και συμπεριλαμβανει εξτρα properties)</div>

    <div>To Mark έχει 1 assignment.</div>

    <div>Το Μark έχει 1 student.</div>
    <div>Το Student έχει πολλους marks.</div>

</p>

<h4>ΛΕΙΠΟΥΝ</h4>

<div>Δυνατοτητα να προσθετεις μια οντοτητα κατα τη δημιουργια μιας αλλης συνδεδεμενη οντοτητας</div>
<div>Εισαγωγη βαθμων στο assignment</div>
<div>Καποια averages</div>
<div> Ένας πίνακας με όλα student per course per assignment, αν και αυτες οι πληροφοριες ειναι διασπαρτες</div>
<div>Edit λειτουργικη - Delete </div>

