


<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Trinity College</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <!-- Dropdown Courses-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Courses
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Course/CourseTables">All Courses</a>
                </div>
                <!-- Dropdown Students-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Students
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Student/StudentTableAdmin">All Students</a>
                </div>
            </li>
            <!-- Dropdown Teacher-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Teachers
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Teacher/TeacherTables">All Teachers</a>
                </div>
            </li>
            <!-- Dropdown Assignment-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Assignments
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Assignment/AssignmentTables">Assignments</a>
                </div>
            </li>

            <!-- Dropdown Statistics-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Statistics
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/Stats/Index">Totals</a>
                    <a class="dropdown-item" href="/Stats/InterConnectedModelStats">Statistics per Course</a>

                    <a class="dropdown-item" href="/Stats/InterConnectedModelStats">Statistics fot student per course per assignment</a>
                </div>

            </li>

             @*Dropdown CRUD*@
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    CRUD
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/CourseCRUD/CourseCrudIndex">Course CRUD</a>
                    <a class="dropdown-item" href="/StudentCRUD/StudentCrudIndex">Student CRUD</a>
                    <a class="dropdown-item" href="/TeacherCRUD/TeacherCrudIndex">Teacher CRUD</a>
                    <a class="dropdown-item" href="/AssignmentCRUD/AssignmentCrudIndex">Assignment CRUD</a>
                </div>
            </li>


        </ul>
    </div>
</nav>
